body {
    min-height: 100vh;
    justify-items: center;
    align-content: center;
}
.clear-filter-buttons {
    min-width: auto;
    float: right;
}
table {
    min-width: auto;
    width: -webkit-fill-available;
}
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}
.title{
    text-align: center;
}